h1 {
	color: red;
	text-align: center;
	text-decoration: underline;
	font-family: cursive;	
}

#anotherh1 {
	color: green;
}

#anotherh1:hover {
	opacity: 0;
}

#purple {
	background-color: : purple;
}

.blog {
	width: 90%;
	height: 10%;
	border: 1px solid black;
}